# coding: utf-8
<%inherit file="layout/default.html"/>

<%block name="title">${discussion["title"]|h}</%block>
<%block name="content">
    <h1>${discussion["title"]|h}</h1>
    <ul>
        %for article in discussion["articles"]:
            <li>
                %if discussion["articles"][article]["truncated"] == False:
                    ${discussion["articles"][article]["title"]|h}
                    ${discussion["articles"][article]["content"]|h}
                    ${discussion["articles"][article]["owner"]}
                    ${discussion["articles"][article]["timestamp"]}
                %endif
                %if discussion["articles"][article]["truncated"] == True:
                    ...gelöscht...
                %endif
            </li>
        %endfor
    </ul>
    <form action="/create_article" method="post">
        <input type="hidden" name="theme" value="${theme['alias']}">
        <input type="hidden" name="discussion" value="${discussion['alias']}">
        <input type="text" name="title" placeholder="Titel"/>
        <textarea name="content" placeholder="Inhalt"></textarea>
        <input type="submit" value="Beitrag absenden"/>
    </form>
</%block>
