<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Forum</h1>
        <p>
            <a href="/${theme}">${obj_theme["name"]}</a>
            ->
            <a href="/${theme}/${discussion}">${obj_discussion["title"]}</a>:
        </p>
        <ul>
            %for article in obj_discussion["articles"]:
                <li>
                    ${obj_discussion["articles"][article]["title"]}
                    ${obj_discussion["articles"][article]["content"]}
                    ${obj_discussion["articles"][article]["owner"]}
                    ${obj_discussion["articles"][article]["timestamp"]}
                </li>
            %endfor
        </ul>
    </body>
</html>
