# coding: utf-8
<%inherit file="layout/default.html"/>

<%block name="title">Forum</%block>
<%block name="content">
    <h1>Forum</h1>
    <p>
        <a href="/${theme['alias']}">${theme["name"]}</a>
        ->
        <a href="/${theme['alias']}/${discussion['alias']}">${discussion["title"]}</a>:
    </p>
    <ul>
        %for article in discussion["articles"]:
            <li>
                %if discussion["articles"][article]["truncated"] == False:
                    ${discussion["articles"][article]["title"]}
                    ${discussion["articles"][article]["content"]}
                    ${discussion["articles"][article]["owner"]}
                    ${discussion["articles"][article]["timestamp"]}
                %endif
                %if discussion["articles"][article]["truncated"] == True:
                    ...gelöscht...
                %endif
            </li>
        %endfor
    </ul>
</%block>
