<%inherit file="layout/default.html"/>

<%block name="title">Forum</%block>
<%block name="content">
    <h1>Forum</h1>
    <p>Themen:</p>
    <ul>
        %for theme in themes:
            <li>
                <a href="/${theme}">${themes[theme]["name"]}</a>
                <ul>
                    %for discussion in themes[theme]["discussions"]:
                        <li>
                            <a href="/${theme}/${discussion}">${themes[theme]["discussions"][discussion]["title"]}</a>
                            <ul>
                                %for article in themes[theme]["discussions"][discussion]["articles"]:
                                    <li>
                                        ${themes[theme]["discussions"][discussion]["articles"][article]["title"]}
                                        ${themes[theme]["discussions"][discussion]["articles"][article]["content"]}
                                        ${themes[theme]["discussions"][discussion]["articles"][article]["owner"]}
                                        ${themes[theme]["discussions"][discussion]["articles"][article]["timestamp"]}
                                    </li>
                                %endfor
                            </ul>
                        </li>
                    %endfor
                </ul>
            </li>
        %endfor
    </ul>
</%block>
